<component name="ArtifactManager">
  <artifact type="war" name="SpringAngularApp:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringAngularApp_1.war">
      <element id="artifact" artifact-name="SpringAngularApp:war exploded" />
    </root>
  </artifact>
</component>